*{
    font-family: 'Roboto', sans-serif;
}

main{
	width: 100%;
	margin: auto;
	display: flex;
	flex-flow: column nowrap;
	background: white; /*test*/
}


/* colors for debugging*/
.bg-red { background: red;}
.bg-blue { background: blue;}
.bg-green{background:green;}
.font-red { color: red;}
.font-blue { color: blue;}
.font-green{ color: green;}

.element-container{
	width: 100%;
	margin-bottom: 30px;
	display: flex;
	flex-flow: column wrap;
}

.element-container-row{
	width: 100%;
	margin-bottom: 10px;
	display: flex;
	flex-flow: row wrap;
}

.flex-column{
	display: flex;
	flex-flow: column wrap;
}

.flex {
	display:flex;
}

.flex-row{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
}

h2.centralized-heading, 
h3.centralized-heading,
p.centralized-paragraph{
	text-align:center;
}


.nowrap{
	flex-wrap: nowrap;
}

.nosso-foco-img{
	width: 50px;
	height: 50px;
	background: gray;
	margin: 10px auto;
}

.evenly{
	width: 30%;
}

.img-number{
	width: 50px;
	height: 50px;
	background: gray;
}

h3{ font-size: 2rem;}

.justify-center{
	justify-content:center;
}

.align-center{
	align-items: center;
}

.justify-around{
	justify-content: space-around;
 }

.planejamento-img{
	height: 302px;
	width: 100%;
	content: url(images/planejamento.jpg);
}

#planejamento-controles{
	display: flex;
	flex-flow: column nowrap;
	margin: auto;
}

#nosso-foco{
	border: 1px solid green; /*test*/
}

#planejamento{
	box-sizing: border-box;
	border: 1px solid green;
}

#plataforma{
	border: 1px solid purple;
	box-sizing:border-box;
}

#plataforma-img-1,
#plataforma-img-2,
#plataforma-img-4,
#plataforma-img-5{
	width:269px;
	height:180px;
	background: orange;
}

#plataforma-img-3{
	width:571px;
	height:390px;
	background: orange;
}

#plataforma-img-1{
	content: url(images/renda-fixa.jpg);
}
#plataforma-img-2{
	content: url(images/renda-variavel.jpg);
}
#plataforma-img-4{
	content: url(images/fundos-imobiliarios.jpg);
}
#plataforma-img-3{
	content: url(images/fundos-investimento.jpg);
}
#plataforma-img-5{
	content: url(images/titulos-publicos.jpg);
}

#depoimentos{
	border: 1px solid green;
	height: 100px; /*test*/
}

#parceiros{
	border: 1px solid green;
	height: 100px; /*test*/
}

.planejamento-conteudo{
	box-sizing: border-box;
	padding: 1.5rem;
	height: 100%;
}

.planejamento-conteudo > button {
	margin: 1rem 0;
	font-size: 1.2rem;
	padding: .4rem .8rem;
}
/*--------------- CAROUSEL ------------------------*/

/*--------------- CAROUSEL ------------------------*/