*{
    font-family: 'Roboto', sans-serif;
}


main{
	height: 1000px;
	width: 100%;
	border: 1px solid green;
	background: white;
	margin: auto;
}

/*--------------- CAROUSEL ------------------------*/

/*--------------- CAROUSEL ------------------------*/