html{
	box-sizing: border-box;
}

*, *:before, *:after{
	box-sizing: inherit;
}

*{
    font-family: 'Roboto', sans-serif;
}

main{
	width: 100%;
	margin: auto;
	display: flex;
	flex-flow: column nowrap;
	background: white; /*test*/
}


/* colors for debugging*/
.bg-red { background: red;}
.bg-blue { background: blue;}
.bg-green{background:green;}
.font-red { color: red;}
.font-blue { color: blue;}
.font-green{ color: green;}

.border{ border: 2px solid orangered;}

.element-container{
	width: 100%;
	margin-bottom: 30px;
	display: flex;
	flex-flow: column wrap;
}

.element-container-row{
	width: 100%;
	margin-bottom: 10px;
	display: flex;
	flex-flow: row wrap;
}

.flex-column{
	display: flex;
	flex-flow: column wrap;
}

.flex {
	display:flex;
}

.flex-row{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
}

h2.centralized-heading, 
h3.centralized-heading,
p.centralized-paragraph{
	text-align:center;
}


.nowrap{
	flex-wrap: nowrap;
}

.nosso-foco-img{
	width: 50px;
	height: 50px;
	background: gray;
	margin: 10px auto;
}

.evenly{
	width: 30%;
}

.img-number{
	width: 50px;
	height: 50px;
	background: gray;
}

h3{ font-size: 2rem;}

.justify-center{
	justify-content:center;
}

.justify-evenly{
	justify-content: space-evenly;
}

.align-center{
	align-items: center;
}

.justify-around{
	justify-content: space-around;
 }

.justify-start{
	justify-content: flex-start;
}

.justify-between{
	justify-content: space-between;
}

.planejamento-img{
	height: 302px;
	width: 100%;
	border-left:3em solid lightblue;
	content: url(images/planejamento.jpg);
}

.bd-right-3em{
	border-right:3em solid lightblue;
}

.planejamento-controles{
	display: flex;
	flex-flow: row nowrap;
	margin:auto;
	background:yellow;
}

.planejamento-controles button{
	max-width:10px;
}

.planejamento-itens > div{
	width:60%;
}

#nosso-foco{
	border: 1px solid green; /*test*/
}

#planejamento{
	box-sizing: border-box;
	border: 1px solid green;
}

#plataforma{
	border: 1px solid purple;
	box-sizing:border-box;
}

#plataforma-img-1,
#plataforma-img-2,
#plataforma-img-4,
#plataforma-img-5{
	width:269px;
	height:180px;
	background: orange;
}

#plataforma-img-3{
	width:571px;
	height:390px;
	background: orange;
}

#plataforma-img-1{
	content: url(images/renda-fixa.jpg);
}
#plataforma-img-2{
	content: url(images/renda-variavel.jpg);
	margin-top: 30px;
}
#plataforma-img-4{
	content: url(images/fundos-imobiliarios.jpg);
}
#plataforma-img-3{
	content: url(images/fundos-investimento.jpg);
}
#plataforma-img-5{
	content: url(images/titulos-publicos.jpg);
	margin-top: 30px;
}

#depoimentos{
	border: 1px solid fuchsia;

}

#parceiros{
	border: 1px solid green;
}

.planejamento-conteudo{
	box-sizing: border-box;
	padding: 1.5rem;
	height: 100%;
}

.planejamento-conteudo > button {
	margin: 1rem 0;
	font-size: 1.2rem;
	padding: .4rem .8rem;
}

div.planejamento-conteudo{
	display: none;
}

div.planejamento-conteudo.visible{
	display:flex;
	flex-flow: column nowrap;
}

#depoimentos-content > article > h3 + p{
	display: inline-block;
	width:700px;
	height: 50px;
}

#depoimentos-content > article.visible{
	display: flex;
}

#depoimentos-content > article {
	display:none;
}

#depoimentos-content > article {
	padding: 0 1rem 1rem;
}

#depoimentos-content > :first-child{
	border:none;
}

#parceiros-img-1,
#parceiros-img-2,
#parceiros-img-3,
#parceiros-img-4,
#parceiros-img-5,
#parceiros-img-6,
#parceiros-img-7,
#parceiros-img-8,
#parceiros-img-9,
#parceiros-img-10,
#parceiros-img-11,
#parceiros-img-12{
	height:100px;
	width:210px;
	background: lightgreen;
	border:1px solid gray;
	box-sizing: border-box;
}

#parceiros-img-1{
	content: url(images/parceiros/appia-capital.jpg);
}

#parceiros-img-2{
	content: url(images/parceiros/atico.jpg);
}

#parceiros-img-3{
	content: url(images/parceiros/bbm-investimentos.jpg);
}

#parceiros-img-4{
	content: url(images/parceiros/btgpactual.jpg);
}

#parceiros-img-5{
	content: url(images/parceiros/canvas-capital.jpg);
}

#parceiros-img-6{
	content: url(images/parceiros/claritas.jpg);
}

#parceiros-img-7{
	content: url(images/parceiros/deutsche-bank.jpg);
}

#parceiros-img-8{
	content: url(images/parceiros/franklin-templeton-investments.jpg);
}

#parceiros-img-9{
	content: url(images/parceiros/jpmorgan.jpg);
}

#parceiros-img-10{
	content: url(images/parceiros/parceiro-sulamerica.jpg);
}

#parceiros-img-11{
	content: url(images/parceiros/patrimonial.jpg);
}

#parceiros-img-12{
	content: url(images/parceiros/votorantim.jpg);
}

#parceiros > div > div{
	display: none;
}

#parceiros > div > div.visible{
	display: flex;
}
/*--------------- CAROUSEL ------------------------*/

/*--------------- CAROUSEL ------------------------*/